
// $font-face: "Microsoft YaHei","WenQuanYi Micro Hei", "微软雅黑", "宋体", "sans-serif";
$font-face: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

$mainColor:#333333;
$color1: #FFFFFF;
$color3: #333333;
$colorB2: #b2b2b2;
$colorB3: #b3b3b3;
$color6: #666666;
$colorE6: #e6e6e6;
$color9: #999999;

// $colorBorder: #E7E7E7;
$colorBorder: #d2d2d2;
$colorLink: #40A9F5;
$colorRed: #F9646A;
$colorRedHover: #E8465D;
$colorBtn1 : #f58670;


// 配色
$mainBg: #ebebeb;
$headerBg: #fff;
$asideBg: #001529;
